*{
  margin: 0;
  padding: 0;
}


header {
  /* width: 100%; */
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(185, 192, 192);
  /* position: fixed; */
}

.logo {
  padding-left: 15px;
}

.logo img {
  width: 4vw;
}

.bars{
  padding-right: 15px;
}

.bars img {
  width: 3vw;
}


.search-area input {
  margin: 10px;
  border:none;
  padding: 10px;
}

.search-area button {
  border: none;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  height:400px;
  margin: 20px;
  box-shadow: 5px 10px 8px  rgb(134, 138, 138);
  background-color: rgb(185, 192, 192);
  text-align: center
}

.card > * {
  margin: 5px;
}


.card img {
  width: 280px;
  height: 200px;
}

.card button {
  border: none;
  background-color:black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* margin-top: 60px; */
}


@media only screen and (max-width:809px) {
  header h1{
    display:none;
  }

}


@media only screen and (max-width:606px) {
  .search-area {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
 
}

